.center-container { display: flex; justify-content: center; margin-top: 30px; }
.card { width: 600px; padding: 20px; }
.full { width: 100%; }
.map-placeholder {
  height: 250px;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 6px;
}
.file { margin-bottom: 15px; }
.card h2 {
  margin-bottom: 20px;   /* adjust the value as you want */
}